package ${package}.domain;

#foreach ($column in $columns)
#if($column.attrType == 'Date')
import java.util.Date;
#break
#end
#end
#foreach ($column in $columns)
#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
#break
#end
#end
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;



/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@ToString
@Getter
@Setter
@NoArgsConstructor
public class ${className} 
{
	
#foreach ($column in $columns)
	/** $column.columnComment */
	private $column.attrType $column.attrname;
#end

    
}
